NEXTAUTH_SECRET=dAbxJF2DRzqwGYn+BWKdj8o9ieMri4FWsmIRn77r2F8=
REACT_APP_API_URL=http://localhost:3333/api
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_API_URL=http://backend:3333/api
KEYCLOAK_URL=<KEYCLOAK_URL>
KEYCLOAK_CLIENT_ID=<client_id>
KEYCLOAK_CLIENT_UUID=<uuid>
KEYCLOAK_REALM=<realm>
KEYCLOAK_CLIENT_SECRET=<client_secret>
KEYCLOAK_ADMIN_CLIENT_ID=ctims-admin # a client with sevice account enabled
KEYCLOAK_ADMIN_CLIENT_SECRET=<secret>
KEYCLOAK_TOKEN_ENDPOINT=https://cbioportal.pmgenomics.ca/newauth/realms/UHN/protocol/openid-connect/token
CTIMS_ENV=development
MM_API_TOKEN=1234
PRISMA_FIELD_ENCRYPTION_KEY=1234
MM_API_URL=http://localhost:5000/api
