.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 80px;
  gap: 20px;
  overflow-y: scroll;

  .titleAndButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 20px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    .trialsText {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
    }

   .buttonsContainer {
      margin-left: auto;
      display: flex;
      flex-direction: row;

     .createCtmlButton {
       height: 36px;
       background: #2E72D2;

       font-family: 'Inter', sans-serif;
       font-style: normal;
       font-weight: 600;
       font-size: 14px;
       line-height: 16px;
       margin-left: 12px;
     }
   }

  }

  .tableContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .trailsEllipseBtn {
    width: 3rem;
    color: black;
  }

  .menu {
    margin-top: 5px;
  }

  .p-button:focus {
    outline: none;
    boxshadow: none;
  }

}
