[mysqld]
# Listen on all available network interfaces
bind-address = 0.0.0.0

# Set the minimum logging level
log_error_verbosity = 2

# Log all queries
general_log = 1
general_log_file = /var/lib/mysql/mysql.log

# Enable and configure the error log
log_error = /var/lib/mysql/mysql-error.log
