.cancel-btn {
  height: 36px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #2E72D2;
}

.create-btn {
  height: 36px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #2E72D2;
}

.dialog-content {
  padding: 1.25rem;
}
