.cancel-btn {
  height: 36px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #2E72D2;
}

.send-btn {
  height: 36px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #2E72D2;
}

.dialog-content {
  padding: 1.25rem;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
